{% trans_default_domain 'FOSUserBundle' %}
<div class="form-user">
<h1 class="blog-title">You're new ? Please register !</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="form-text">
	{{ form_widget(form) }}
</div>
        <input id="login"type="submit" value="{{ 'registration.submit'|trans }}" />

{{ form_end(form) }}

</div>
