.page-title {
  text-align: center;
  font-family: Dusha;
  margin-bottom: 1em;
}
.page-desc {
  margin-bottom: 2em;
  text-align: left;
  font-family: Lusitana, serif;
  font-size: 1.5em;
}

.page-container h2 {
  font-family: Dusha;
  font-size: 3em;
  cursor: pointer;
}

.page-container h2:hover {
  color: #666666;
}

.page-container p {
  font-family: Lusitana, serif;
  font-size: 1.5em;
}

#reponse1 {
  display: none;
}
#reponse2 {
  display: none;
}
#reponse3 {
  display: none;
}
#reponse4 {
  display: none;
}
#reponse5 {
  display: none;
}
#reponse6 {
  display: none;
}
