#visa-title {
  text-align: center;
  font-family: Dusha;
  margin-bottom: 1em;
}
#visa-desc {
  margin-bottom: 4em;
  text-align: left;
}

#visa-container h2 {
  font-family: Dusha;
  font-size: 3em;
  cursor: pointer;
}

#reponse1 {
  display: none;
}
#reponse2 {
  display: none;
}
#reponse3 {
  display: none;
}
#reponse4 {
  display: none;
}
#reponse5 {
  display: none;
}
#reponse6 {
  display: none;
}
